.container {
    display: flex;
    color: chocolate;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10px auto;
    border: 3px peachpuff solid;
    border-radius: 5px;

    background-image: linear-gradient(
            to top,
            rgba(189, 117, 182, 0.213) 10%,
            rgba(77, 132, 132, 0.432) 100%);
}

#inputElement{
    background: peachpuff;
    /*place-content: baseline;*/
}

.list-wrap {
    width: 40%;
    margin: 10px auto;
    list-style-type: square;
}

.delete-button {
    margin-right: 10px;

}

.list-item {
    margin-top: 10px;
    list-style-type: None;
    /*background-color: rgba(232, 233, 222, 0.213);*/
}