.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10px auto;
    background-image: linear-gradient(
      to left,
      rgba(189, 117, 182, 0.213) 10%,
      rgba(77, 132, 132, 0.432) 100%);
  }
  
  .list-wrap {
    width: 40%;
    margin: 10px auto;
    list-style-type: square;
  }
  
  .delete-button {
    margin-right: 10px;
  } 
  
  .list-item {
    margin-top: 10px;
    list-style-type: None;
    background-color: rgba(232, 233, 222, 0.213);
  }
  